<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:'Task' }}</title>
</head>
<body>

<ul>
    <li><a href="{% url 'home' %}">Главная</a></li>
    {% for value in bar %}
    {% if not forloop.last %}
    <li>
        <a href="{% url value.url_name %}">{{ value.title }}</a>
    </li>
    {% else %}
    <li class="last">
        <a href="{% url value.url_name %}">{{ value.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<ul>
    {% for dict in friends %}
    {% if dict.is_friend %}

    <li>
        <h2>{{ dict.name }}</h2>
        <p><a href="{% url 'friend' dict.id %}">{{ dict.content }}</a></p>

        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>

    {% endif %}
    {% endfor %}
</ul>
</body>
</html>