{% load menu_tags %}

<ul>
    {% for item in menu_items %}
        <li>
            {% if item.slug in path %}
                <a class='selected' href="{{ item.get_absolute_url }}">{{ item.name }}</a>
            {% else %}
                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
            {% endif %}
            {% if item.children.exists %}
                {% for item in item.children.all %}
                    {% draw_menu_inclusion item %}
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
