<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:'Task' }}</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Главная</a></li>
    {% for value in bar %}
    {% if not forloop.last %}
    <li>
        <a href="{% url value.url_name %}">{{ value.title }}</a>
    </li>
    {% else %}
    <li class="last">
        <a href="{% url value.url_name %}">{{ value.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% block content %}
{% endblock %}

</body>
</html>